<div class="wrapper">

  <div *ngFor="let tower of towers; let i = index" class="box">
    <p>{{tower.title}}<br>
    <span class="num" [ngStyle]="{'border-bottom-color': height[i] >= 100
    || height[i] <= 0? '#e2403d' : '#69c64d'}">{{height[i]}}%</span></p>

    <div class="container">
      <div class="quarter"></div><div class="quarter"></div>
      <div class="quarter"></div><div class="quarter"></div>
      <div class="level" [style.height.%]="height[i] > 100? 100 : height[i]"
      [ngStyle]="{'background-color': height[i] >= 100? '#e2403d' : '#69c64d'}"></div>
    </div>

    <p>Масса карналита<br>
    <span class="num" [ngStyle]="{'border-bottom-color': height[i] >= 100
    || height[i] <= 0? '#e2403d' : '#69c64d'}">{{tower.value}}</span></p>
  </div>

</div>
